* {
  margin: 0px;
}

body {
  background-color: #ffffff;
}

#fullBody {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("../../avenir/Avenir Roman.otf");
}

/* Left Side Menu Bar */

#leftSideMenu {
  width: 4%;
  background-color: #333333;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.menuBar {
  height: calc(100%-(500px));
}

ul {
  padding: 0px 2px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

.menuBar::-webkit-scrollbar {
  width: 0;
}

.menuIcon {
  position: relative;
  text-align: center;
  padding-top: 0.6em;
  margin-bottom: 0.5em;
  width: 40px;
  height: 39px;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

.menuIcon span {
  padding-right: 3px;
  text-align: center;
}

.menuIcon:hover {
  background-color: #4b74ff;
}

#menuLogo {
  margin-bottom: 7em;
  width: 48px;
  height: 48px;
  padding: 1em;
  padding-left: 2em;
}

.logo {
  width: 30px;
  height: 42px;
  object-fit: contain;
}

.menuIcon i {
  transition: all 0.5s ease-in-out;
  color: #5f6164;
  transform: translateY(45%);
}

.menuIcon:hover.menuIcon i {
  color: #fbfbfb;
}

.menuIcon:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}

.org-Structure {
  width: 16px;
  height: 14px;
  object-fit: contain;
}

.icon-user {
  width: 16px;
  height: 12px;
  object-fit: contain;
}

.icon-folder {
  width: 16px;
  height: 14px;
}

.icon-workflow {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.icon-docflow {
  width: 14px;
  height: 16px;
}

.icon-openDoor {
  width: 14px;
  height: 15px;
  object-fit: contain;
}

.menuIcon .tooltiptext {
  background-color: #333333;
  position: absolute;
  left: 60px;
  color: #ffffff;
  border-radius: 3px;
  width: max-content;
  padding: 5px;
  font-family: "Avenir-Roman";
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.menuIcon .tooltiptext::after {
  content: '';
  position: absolute;
  top: 35%;
  left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #333333 transparent transparent;
}

/* DashBoard Context */

#dashboardContext {
  width: 100%;
}

/* Header top part */

#headerTop {
  display: flex;
  justify-content: space-between;
  padding: 15px 24px 15px 10px;
  border-bottom: 2px solid rgb(51, 51, 58, 0.1);
}

#sectionHeading {
  width: 73px;
  height: 48px;
  font-family: 'Avenir-Roman';
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #333333;
  margin-left: 1em;
}

#searchBox {
  position: relative;
  margin-top: 8px;
  padding: 4px 5px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 18px;
  height: 18px;
  object-fit: contain;
  color: #4b74ff;
}

.commonStyleBtn {
  height: 32px;
  border: solid 1px #4b74ff;
  border-radius: 24px;
}

.searchInput {
  width: 66px;
  padding-left: 30px;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  color: #4b74ff;
}

/* Header bottom part */

#headerBottom {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 16px 16px;
  position: relative;
}

.groupBtnWidth {
  width: 88px;
}

#btnGroup {
  display: flex;
}

#btnGroup button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 9px 2px 12px;
  cursor: pointer;
  margin-left: 10px;
  font-family: 'Avenir-Roman';
  font-size: 14px;
  align-items: center;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2px;
  letter-spacing: normal;
  color: #4b74ff;
  background-color: #ffffff;
  text-align: left;
  transition: all 0.5s ease-in-out;
}

#btnGroup button:hover {
  background-color: rgba(219, 212, 212, 0.377);
}

.iconCircle {
  position: relative;
  margin: 4px;
  width: 14px;
  height: 14px;
  object-fit: contain;
  border: 1px solid #4b74ff;
  border-radius: 50%;
}

.iconCircle i {
  font-size: 9px;
  display: inline-block;
  line-height: 14.5px;
  padding-left: 2.5px;
  position: absolute;
}

#btnGroup p {
  margin: 0px;
}

#btnGroup button:focus {
  outline: none;
}

#filterBtn button {
  display: flex;
  width: 78px;
  height: 32px;
  border-radius: 2px;
  border: solid 1px silver;
  background-color: #ffffff;
  padding: 0px;
  cursor: pointer;
}

#filterBtn button p {
  margin: 5px 6px 3px 12px;
  width: 32px;
  height: 24px;
  font-family: Avenir;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #333333;
}

.iconBoxFilter {
  margin: 4px 4px 4px 0px;
}

.Group {
  width: 12px;
  height: 8px;
  object-fit: contain;
  opacity: 0.8;
  margin: 6px 6px 8px 6px;
}

#filterBtn button:focus {
  outline: none;
}

#centerContext {
  margin-top: 15px;
  line-height: 24px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 40px;
}

.textBody {
  height: 400px;
  overflow-y: auto;
}

.textBody p {
  display: inline-block;
}

footer {
  margin-right: 25px;
  margin-left: 25px;
 transform: translateY(150%);
}
#myText {
  display: flex;
  justify-content: space-between;
}

#myText p {
  height: 32px;
  font-family: 'Avenir-Roman';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.29;
  letter-spacing: normal;
  color: #333333;
}

.closeFilter {
  position: absolute;
  right: 25px;
  top: 14px;
  width: 78px;
  height: 32px;
  border-radius: 2px;
  background-color: #4b74ff;
  border: none;
  text-align: left;
  cursor: pointer;
  font-family: 'Avenir-Roman';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
  padding: 4px 4px 4px 12px;
}

.closeFilter span {
  margin-left: 0.5em;
}

.afterClickfilter {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: 100000;
  width: 270px;
  height: 222px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  display: none;
}

#dashboardContext .displayBlock {
  display: block;
}